*.7z
1C.ico
certinst.exe
criacx.cab
Cyberplat.ico
favicon.ico (16?16).ico
HomeCredit.ico
HomeCredit.png
OTP bank.ico
RenessansEnsurance.ico
RenessansEnsurance.png
TeamViewer*.reg
Альфа-Банк.gif
Альфа-Банк.ico
Лето Банк.ico
Мегафон.ico
МТС.ico
_CheckReplaceTeamViewerSecurityPasswordAES.ahk
